<div class='span12'>
	<h2>About Us</h2>
	<br/><br/>
</div>
<div class='span12'>
	<h3>We like beer, so we made an app.</h3>
</div>
<div class='pull-left'>
	<%= link_to image_tag('beer_and_glass.jpg', :size=>'330x255') %>
</div>