<div class='span12'>
	<h2>Contact Us</h2>
	<br/><br/>
</div>
<div class='span12'>
	<h3>Have a question? Want more beer?</h3><br/>
	<p>E-mail us at BeerOn2012@gmail.com.</p>
</div>
<div class='pull-left'>
	<%= link_to image_tag('dark_beer.jpg', :size=>'330x255') %>
</div>