<div class='span12'>
	<h2>Help</h2>
	<br/><br/>
</div>
<div class='span7'>
	<ol>
		<li><h3>Your site is awesome... but free... How can I contribute?</h3></li><br/>
			<p>Excellent question! We appreciate all forms of money* here
			at BeerOn. Or if you'd like to tell us how we can improve our
			site, <%= link_to 'contact us', new_inquiry_url %>.
			</p><br/>
		<li><h3>Why is BeerOn only located in Chicago?</h3></li><br/>
			<p>BeerOn is a new company, and we wanted to create the 
			beer app in a city where we were familiar with the beer. 
			Also, we may have wanted to use the app when testing was
			finished...
			</p>
	</ol>
	<br/>
	<h6>*Excluding Monopoly. Please see Terms and Conditions for details.</h6>
</div>
<div class='pull-right'>
	<%= link_to image_tag('three_champion.jpg', :size=>'330x255') %>
</div>