@import 'bootstrap';
ol li {
	font-size:15px;
	font-weight:bold;
}
.navbar-inner {
	/*background: -webkit-linear-gradient(top, mediumblue, darkblue);*/
	font-size:15px;
}
p, .alternative, .btn, select {
	font-size:15px;
}
ul li {
	font-size:15px;
}